body {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: rgb(147, 170, 169);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    color: rgb(32, 29, 237);

}


.formulario {
    width: 70vw;
    background-color: rgb(8, 202, 176);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

h1 {
    color: rgb(11, 229, 229);
}

.inicio {

    display: flex;
    justify-content: center;
    color: #eaf0ed;
    font-size: 40px;
}

p {
    color: aqua;
    width: 200;
    border-radius: 5px;
}

p:nth-child(even) {
    color: rgb(0, 153, 255);

}

.entradas {
    background-color: gray;
    color: #0a18e7;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 100px;
    font-size: 30px;
    border-radius: 10px;
}

.saidas {
    background-color: rgb(14, 7, 145);
    width: 400px;
    color: rgb(6, 112, 112);
    font-size: 30px;

}

.total_saidas {
    width: 400px;
    color: rgb(39, 19, 187);
    font-size: 30px;
    font-weight: bold;

}

.total_res {

    width: 900px;
    color: rgb(228, 233, 223);
    font-size: 30px;
    font-weight: bold;

}

.total_resFont {
    display: flex;
    width: 850px;
    font-size: 40px;
    font-weight: bold;
    column-gap: 40px;

}

.final_res {
    background-color: azure;
    font-size: 40px;
    color: rgb(9, 12, 185);
}

.final_prov {
    font-size: 40px;
    color: rgb(248, 244, 12);
}

.final_desc {
    font-size: 40px;
    color: rgb(230, 59, 87);
}

.form_titulo {
    display: flex;
    align-items: top;
    column-gap: 40px;

}


.parametros {
    color: #eaf0ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    row-gap: 20px;

}

.sim_nao {
    width: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}

.direitos{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    
}

.direitos_lista{    
    width: 150px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    column-gap: 15px;

}

.direitos_nomes{    
    width: 150px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    

}


.base {
    width: 920px;
    background-color: #3e474f;
    color: #eeeff5;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    row-gap: 20px;
}

.bases {
    width: 250px;
    color: #ebebf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    row-gap: 20px;
}


.base_pensao {
    width: 280px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;

}

.base_pensao_balao {
    height: 30px;
    width: 50px;
    font-size: 20px;

}

.dias {
    color: #32b4d4;
    display: flex;
    flex-direction: column;
    justify-content: top;
    font-size: 20px;
    font-weight: bold;

}


.diasPaga {
    color: bisque;
    width: 400px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.proventos {
    color: rgb(242, 246, 246);
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    row-gap: 5px;
}

.proventos_texto {
    background-color: #89b2be;
    color: #eff1f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    row-gap: 5px;
}

.botao {
    background-color: rgb(230, 230, 238);
    color: rgb(9, 45, 225);
    padding: 5px;
    margin-top: 10px;
    width: 300px;
    border-radius: 15px;
    border-color: rgb(117, 180, 235);
    font-size: 40px;

}

.botao:hover {
    background-color: rgb(238, 63, 104);
    color: white;
    transform: scale(1.2)
}

.codigo {
    display: flex;
    background-color: cornflowerblue;
    font-size: 20px;
    color: rgb(208, 22, 22);
}

.imagem {

    width: 500px;
    height: 600px;
}

.imagem2 {

    width: 600px;
    height: 700px;
}


.divisa {

    display: flex;
    flex-direction: column;
    font-size: 30px;
    gap: 10px;
    padding: 3px;

}

.tipo {
    height: 60px;
    font-size: 20px;
    color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}


.Balao {
    height: 30px;
    font-size: 20px;
    color: rgb(50, 69, 62);
    display: flex;

}

.Balao_texto {

    height: 30px;
    font-size: 20px;
    color: rgb(50, 69, 62);
    display: flex;

}

.check {    
    height: 20px;
    width: 20px;
    padding-top: 2px;
    font-size: 20px;

}

.check_text {
    height: 10px;
    width: 200px;
    padding-top: 2px;
    font-size: 20px;

}

.check_balao {
    height: 20px;
    width: 20px;
   }

.adicional {
    color: rgb(75, 238, 224);
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 5px;

}

.adicional_legenda {
    color: #0a18e7;
    font-size: 25px;
    font-weight: bold;

}

.tipocheckBalao {
    height: 20px;
    width: 30px;
}

.teste {
    display: flex;
}

.form_fgts {
    display: flex;
    align-items: top;


}

.fgts {
    width: 307px;
    display: flex;
    flex-direction: column;
    row-gap: 1px;
    justify-content: space-around;
}

.total_fgts {
    display: flex;
    justify-content: space-around;
    font-weight: bold;

}


.fgts_tit {
    font-size: 25px;
    font-weight: bold;
    color: rgb(37, 6, 175);
}

.fgts_res {
    background-color: rgb(243, 247, 248);
    font-size: 25px;
    font-weight: bold;
}

fieldset {
    border: 2px #e5ebee solid;
    border-radius: 10px;
    border-width: 5px;

}


.valores_base {
    width: 950px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    column-gap: 70px;
}


.total_bases {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    column-gap: 20px;
}

.legend_base {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(66, 66, 191);
    background-color: #e5ebee;
    border-radius: 10px;

}

.fill {
    color: rgb(57, 74, 189);
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.menu_texto {
    color: rgb(250, 245, 100);
    font-weight: bold;
    padding: 10px;
    height: 20px;
    font-size: 25px;
   
}
.menu_input {
    color: rgb(47, 48, 54);    
    height: 40px;
    font-size: 20px;
    border-radius: 10px;

}

.menu_botao {
    margin-top: 20px;
    display: flex;
    width: 340px;
    height: 50px;
    background-color: rgb(6, 140, 95);
    color: #e5ebee;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;

}

.menu_botao:hover{
    background-color: #08a197;
}

.ferias_faltas{
    background-color: #89b2be;
    font-size: 35px;
    color: #f7f9fa;
}
.ferias_faltas:nth-child(even){
    font-size:35px;
    background-color: #046d8d;
    color: #fafa65;
}

.ferias_input{
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.titulo{

    font-size: 35px;
}

.botao_ferias {
    background-color: rgb(230, 230, 238);
    color: rgb(9, 45, 225);
    padding: 5px;
    margin: 10px 0 0 80px;
    width: 300px;
    border-radius: 15px;
    border-color: rgb(117, 180, 235);
    font-size: 40px;

}
.botao_ferias:hover {
    background-color: rgb(5, 160, 85);
    color: rgb(238, 239, 244);
   
}


