body{
    margin-top: 60px;
    background-color: rgb(169, 199, 241);
    display: flex;  
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: blue;
    
}

.formulario{
   
    background-color: bisque;
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.formulario2{
    width: 90vw;
    height: 50vw;
    background-color: bisque;
    display: flex;
    column-gap: 5cqw;
    align-items:flex-start;
}

.form1{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 40px;
width: 20vw;

}



.formulario3{   
    display: flex; 
    justify-content: space-around;  
    gap: 50px;
    

}

.formulario4{
    
    display: flex;   
    flex-direction: column;
    
    
   
}

.preencher{

    width: 250px;
    gap: 10px;
    padding: 5px;
    color: black;

}

.botao{
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    background-color: rgb(27, 228, 151);
    border-radius: 15px;
    border-color: rgb(233, 237, 240);
    color: beige;
    font-size: 25px;
    font-weight: bolder;
    align-items: center;
    
}

.codigo{
    display: flex;
    background-color: cornflowerblue;
    font-size: 20px;
    color: rgb(208, 22, 22);
}

.imagem{

    width: 500px;
    height: 600px;
}
.imagem2{

    width: 600px;
    height: 700px;
}

.data{
    color: rgb(128, 8, 48);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 5px;
    
    
}

.divisa{

    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 10px;
    padding: 3px;

}

.tipo{
    height: 60px;
    font-size: 20px;
    color: chocolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 10px;
}
.tipoBalao{
    height: 30px;
    font-size: 20px;
    color: rgb(10, 164, 113);
    display: flex;
    align-items: center;
    
}

.tipocheck{
    height: 20px;
    padding-top: 2px;
    align-items: center;
}

.tipocheckBalao{
    height: 20px;
    width: 30px;
}
