body {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: rgb(153, 3, 128);
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    color: rgb(32, 29, 237);

}


.formulario {
    width: 70vw;
    background-color: rgb(8, 202, 176);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}

h1 {
    color: rgb(11, 229, 229);
    font-size: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.menu_texto {
    color: rgb(250, 245, 100);
    font-weight: bold;
    padding: 10px;
    height: 20px;
    font-size: 25px;
   
}
.menu_input {
    color: rgb(47, 48, 54);    
    height: 40px;
    font-size: 20px;
    border-radius: 10px;

}

.menu_botao {
    margin-top: 20px;
    display: flex;
    width: 340px;
    height: 50px;
    background-color: rgb(6, 140, 95);
    color: #e5ebee;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;

}

.menu_botao:hover{
    background-color: #08a197;
}

.divisa{
    display: flex;
    flex-direction: column;
}

